body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #90c0ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0046a8;
    color: white;
}

.titre {
    font-size: 80px;
    margin: 20px;
}


input {
    border-radius: 12px;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0046a8;
    color: white;
}

* {
    box-sizing: border-box;
}

.weather-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 50px; */
    /* position: relative; */
    width: 275px;
    /* height: 270px; */
    border-radius: 10px;
    background: linear-gradient(145deg, #c099ff, #af76ff);
    box-shadow: 2px 2px 5px rgb(93, 64, 141), -3px -3px 2px #b192ff;
}

.weather-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.weather-icon {
    display: flex;
    justify-content: center;
}

#place {
    font-size: 2em;
}

/* .weather-card h1 {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 50px;
    color: #fff;

} */


.weather-icon img {
    width: 80%;
    object-fit: contain;
}


/* .weather-card p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    color: #fff;
    text-align: center;
} */

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;

}

input[type="text"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    background: linear-gradient(145deg, #e3e3e3, #ffffff);
    box-shadow: inset 3px 3px 5px #a1a6b5,
        inset -3px -3px 5px #ffffff;
}




#validation {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    background: linear-gradient(145deg, #9390ff, #7b57ff);
    cursor: pointer;
}


#validation:active {
    box-shadow: inset 3px 3px 6px #125699,
        inset -3px -3px 6px #1E88E5;
}